<div class="row">
  <div class="col-12 mt-5 ui raised segment">
    <div class="ui items">
      <div class="item">
        <div class="image">
            <img src="assets/images/avatar.png" alt="">
        </div>
        <div class="content">
            <div class="description">
                <div class="ui red card">
                  <div class="content pb-0">
                      <i routerLink="/members/{{memberDetails.id}}/edit" class="right floated blue setting icon"></i>
                      <i *ngIf="memberDetails.status === 0" class="right floated green heart icon"></i>
                      <i *ngIf="memberDetails.status === 1" class="right floated red heart icon"></i>
                      <a  routerLink="/members/{{memberDetails.id}}/edit" class="header">{{memberDetails.fname}} {{ memberDetails.lname}}</a>
                      <div class="meta">
                          <strong>{{ memberDetails.regno}}</strong>
                      </div>
                      <div class="description">
                        Year: <strong>{{ memberDetails.year}}</strong><br>
                        Status: <strong>{{ memberDetails.status}}</strong>
                        <form (submit)="vote($event)" *ngIf="memberDetails.status === 0" class="pt-2 ui bottom attached buttons">
                          <input type="hidden" name="id" value="{{memberDetails.id}}">
                          <button class="ui green labeled icon button">
                            <i class="heart icon"></i> Vote
                          </button>
                        </form>
                      </div>
                  </div>
                  <div class="extra content pr-3">
                      <span class="right floated">Date created: {{ getDate(memberDetails.created) }}</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div>
      <a routerLink="/members" class="ui blue circular label">
        <i class="ui left arrow icon"></i> Back
      </a>
    </div>
  </div>
</div>
