<div class="row">
  <div class="col-12 mt-5 ui raised segment">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/members/create" class="p-2 ui green circular label">
          <i class="centered plus icon"></i> Add Member
        </a>
      </div>
      <form (submit)="searchMember($event)" class="ui action input">
        <input type="text" name="q" placeholder="Member Name" required>
        <button class="ui primary button">Search</button>
      </form>
    </div>
  </div>
  <div class="col-12 mt-5 ui raised segment">
    <div class="ui horizontal divider">
      <h1 class="ui centered header">Search Results</h1>
    </div>
    <table class="ui inverted green selectable table"><!--unstackable table, selectable table, sortable table-->
      <thead>
        <th>#</th>
        <th>Member(s)</th>
      </thead>
      <tbody>
          <tr *ngFor="let member of searchResult; let i = index">
            <td>{{ (i + 1) }}</td>
            <td>
              <div class="ui blue label">
                {{ member.regno}}
                <a routerLink="/members/{{ member.id }}" class="detail">{{ member.fname }} {{ member.lname }}</a>
              </div>
            </td>
          </tr>
          <tr *ngIf="searchResult.length <= 0">
            <td>No Results</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
